📐tblBrolaeggerPrep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="_x0001F4D0_tblBrolaeggerPrep" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="_x0001F4D0_tblBrolaeggerPrep">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="FK_ClientID" index-key="FK_ClientID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="PK_PrepID " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:tableProperty name="PublishToWeb" type="2" value="1"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAC2jI9CF/1sR6PdViikDJ6SAAAAACXNbg/Bj+ZAAAAAAAAAAAA92NDc
dABiAGwAQgByAG8AbABhAGUAZwBnAGUAcgBQAHIAZQBwAAAAAAAAAHN3rAvc41NL
jCM0qKejuhYHAAAAtoyPQhf9bEej3VYopAyeklAASwBfAFAAcgBlAHAASQBEAAAA
AAAAAJLMBETslptGlkSUNp63wgQHAAAAtoyPQhf9bEej3VYopAyekkYASwBfAEMA
bABpAGUAbgB0AEkARAAAAAAAAAAmoxhLrwK6Q5+JGNJc0YdYBwAAALaMj0IX/WxH
o91WKKQMnpJUAGEAcgBnAGUAdABBAHIAZQBhAF8ATQAyAAAAAAAAAAXAroj2B3BL
vF95WMGQM+gHAAAAtoyPQhf9bEej3VYopAyekkUAeABjAGEAdgBhAHQAaQBvAG4A
RABlAHAAdABoAF8ATQAAAAAAAAAYL3P8HPZuRL1GB69jzHrfBwAAALaMj0IX/WxH
o91WKKQMnpJDAGgAZQBjAGsAXwBEAHIAYQBpAG4AYQBnAGUATQBhAHAAcABlAGQA
AAAAAAAAMJnkNKE6O0Kjp4S6Gu47zQcAAAC2jI9CF/1sR6PdViikDJ6SQwBoAGUA
YwBrAF8AQQBjAGMAZQBzAHMAQwBoAGUAYwBrAGUAZAAAAAAAAAD4GQw5A2RpTJeK
PU4Q5pW0BwAAALaMj0IX/WxHo91WKKQMnpJDAGgAZQBjAGsAXwBQAG8AdwBlAHIA
VwBhAHQAZQByAEwAbwBjAAAAAAAAAC11WkBHVGpPloeWlVX4bJcHAAAAtoyPQhf9
bEej3VYopAyekkMAaABlAGMAawBfAE0AYQB0AGUAcgBpAGEAbABzAEQAZQBsAGkA
dgAAAAAAAAA8CfH4SzDCSZs54fpObmuOBwAAALaMj0IX/WxHo91WKKQMnpJUAG8A
bwBsAF8AUwBoAG8AdgBlAGwAAAAAAAAAdzO2nUQzBUm7LrmvvkCRMQcAAAC2jI9C
F/1sR6PdViikDJ6SVABvAG8AbABfAE0AYQBsAGwAZQB0AAAAAAAAAJMQ5N2c8YlC
kiWJiGmfxMUHAAAAtoyPQhf9bEej3VYopAyeklQAbwBvAGwAXwBTAGMAcgBlAGUA
ZABpAG4AZwBSAGEAaQBsAHMAAAAAAAAAB7VFEBhqN0qAl62GFkURgQcAAAC2jI9C
F/1sR6PdViikDJ6SVABvAG8AbABfAFMAcABpAHIAaQB0AEwAZQB2AGUAbAAAAAAA
AADvrOK08MyESp7LSxnGqUPpBwAAALaMj0IX/WxHo91WKKQMnpJUAG8AbwBsAF8A
QQBuAGcAbABlAEcAcgBpAG4AZABlAHIAAAAAAAAAQKw6ICM9ekS4s4/UjvDL0QcA
AAC2jI9CF/1sR6PdViikDJ6SVABvAG8AbABfAEMAbwBtAHAAYQBjAHQAbwByAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAABQAAAAAAAAAAAAAAAAAAAAAA
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="GUID" type="9" value="toyPQhf9bEej3VYopAyekg==
"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="BackTint" type="6" value="100"/>
<od:tableProperty name="BackShade" type="6" value="100"/>
<od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
<od:tableProperty name="AlternateBackShade" type="6" value="95"/>
<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PK_PrepID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="1680"/>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
<od:fieldProperty name="GUID" type="9" value="c3esC9zjU0uMIzSop6O6Fg==
"/>
<od:fieldProperty name="Description" type="10" value="	Unique preparation log ID."/>
<od:fieldProperty name="Caption" type="12" value="PREP_ID] 🆔"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="FK_ClientID" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="kswEROyWm0aWRJQ2nrfCBA==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2310"/>
<od:fieldProperty name="ColumnOrder" type="3" value="2"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="	Links to tblClients (Set Field Size to Long Integer)."/>
<od:fieldProperty name="Caption" type="12" value="[CLIENT_NAME] 👤"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="0"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TargetArea_M2" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="JqMYS68CukOfiRjSXNGHWA==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2295"/>
<od:fieldProperty name="ColumnOrder" type="3" value="3"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="Size of paving area in m 
2
  (Double)."/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Caption" type="12" value="[TARGET_AREA] 📐"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExcavationDepth_M" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="BcCuiPYHcEu8X3lYwZAz6A==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2055"/>
<od:fieldProperty name="ColumnOrder" type="3" value="4"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="	Depth of excavation in meters (default to 0.20)."/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Caption" type="12" value="[DIG_DEPTH] ⛏️"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Check_DrainageMapped" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="GC9z/Bz2bkS9RgevY8x63w==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2805"/>
<od:fieldProperty name="ColumnOrder" type="3" value="5"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="Is the 2% drainage slope mapped and clear?"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="[RECON_DRAINAGE] 💧"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Check_AccessChecked" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="MJnkNKE6O0Kjp4S6Gu47zQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="3540"/>
<od:fieldProperty name="ColumnOrder" type="3" value="6"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="Is the gate/path wide enough for the Iron Wagon?"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="	[RECON_WAGON_ACCESS] 🚜"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Check_PowerWaterLoc" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="+BkMOQNkaUyXij1OEOaVtA==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="3330"/>
<od:fieldProperty name="ColumnOrder" type="3" value="7"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="Located outlets for angle grinder &amp; cleaning hose."/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="[RECON_POWER_WATER] 🔌"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Check_MaterialsDeliv" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="LXVaQEdUak+Wh5aVVfhslw==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2895"/>
<od:fieldProperty name="ColumnOrder" type="3" value="8"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="Has Poul received the correct gravel/sand delivery?"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="[RECON_MATERIALS] 🚚"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Tool_Shovel" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="PAnx+EswwkmbOeH6Tm5rjg==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2415"/>
<od:fieldProperty name="ColumnOrder" type="3" value="9"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="	Shovel loaded in wagon."/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="	[TOOL_SHOVEL] 🧹"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Tool_Mallet" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="dzO2nUQzBUm7LrmvvkCRMQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2340"/>
<od:fieldProperty name="ColumnOrder" type="3" value="10"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="	Setting rubber mallet loaded."/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="	[TOOL_MALLET] 🔨"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Tool_ScreedingRails" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="kxDk3ZzxiUKSJYmIaZ/ExQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2340"/>
<od:fieldProperty name="ColumnOrder" type="3" value="11"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="Steel screeding pipes loaded."/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="	[TOOL_MALLET] 🔨"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Tool_SpiritLevel" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="B7VFEBhqN0qAl62GFkURgQ==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2925"/>
<od:fieldProperty name="ColumnOrder" type="3" value="12"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value=" Spirit level &amp; string lines loaded."/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="	[TOOL_SPIRIT_LEVEL] 📏"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Tool_AngleGrinder" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="76zitPDMhEqey0sZxqlD6Q==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2520"/>
<od:fieldProperty name="ColumnOrder" type="3" value="13"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="SKIL 20V or corded grinder loaded."/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="[TOOL_GRINDER] ⚡"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Tool_Compactor" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="GUID" type="9" value="QKw6ICM9ekS4s4/UjvDL0Q==
"/>
<od:fieldProperty name="ColumnWidth" type="3" value="2880"/>
<od:fieldProperty name="ColumnOrder" type="3" value="14"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Description" type="10" value="Hand tamp / plate compactor loaded."/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Caption" type="12" value="[TOOL_COMPACTOR] 💥"/>
<od:fieldProperty name="DefaultValue" type="12" value="No"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ResultType" type="2" value="0"/>
<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
